/* SARAH */

/* ---------------
--- COMPONENTS ---
------------------ */

/* --- CIRCLE --- */
.circle_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
  transform: scale(1); /* default scale = full size */
  transition: transform 1s ease; /* smooth scaling */
}

.circle_svg {
  max-width: 95%;
  max-height: auto;
  transform: rotate(-90deg); /* starting point = top */
}

.circle_path {
  fill: none; /* only outline */
  stroke-width: 16%;
  stroke-linecap: round;
}

/* --- CATEGORY --- */
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.categories button {
  width: 110%;
  height: 100%;
  border: none;
}

.category_disp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 0;
  padding-bottom: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.category_fill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: height 0.3s ease;
}

.category_txt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; /* text above category fill */
}

.category_txt p {
  font-size: 100%;
  margin: 5px 0;
}

.category_btn {
  border: none;
  background: none;
  padding: 0;
  width: 100%;
}

.category_btn.selected {
  border: 2px solid var(--main);
  border-radius: 22px;
  outline: none;
}

/* QUICKADD GALLERY */
.quickadd_gallery {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.quickadd_gallery p {
  font-size: 85%;
}

.quickadd_items {
  display: flex;
  flex-direction: row;
}

.quickadd_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(18vw - 20px);
  height: calc(18vw - 20px);
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid transparent;
}

.quickadd_gallery p:nth-child(2) {
  margin-top: auto;
}

.quickadd_add {
  color: var(--light);
  line-height: normal;
  text-wrap: nowrap;
  font-weight: bold;
  margin-left: -8%;
  margin-bottom: 8%;
  line-height: 140%;
}

/* Apply the animation */
.category_btn.clicked {
  animation: quickAddClick 0.5s ease;
}

/* Temporary border animation */
@keyframes flashBorder {
  0% {
    border: 2px solid var(--main);
    border-radius: 22px;
    outline: none;
  }
  100% {
    border: 2px solid transparent;
    border-radius: 22px;
    outline: none;
  }
}

.quickadd_item.clicked {
  animation: flashBorder 0.5s ease;
}

/* ---------------
----- PAGES ------
------------------ */

/* --- FRONT PAGE --- */
/* TEXT */
/* Circle and streak text */
.fp_circle_streak {
  text-align: center;
  transition: all 0.8s ease; /* for scroll fade */
}

/* Circle inner text */
.fp_circletxt {
  position: absolute;
  margin-top: -58vw;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.fp_circlep {
  font-size: 2.2vh;
}

/* Streak */
.fp_streak {
  transition: opacity 0.8s ease;
  position: relative;
}

.fp_streak img {
  width: 15%;
  padding: 1rem;
}

.fp_streak_days {
  position: absolute;
  top: 65%;
  left: 48.5%;
  text-align: center;
  font-weight: bold;
  margin-top: -0.2rem;
}

/* Text under category display */
.fp_editcattxt {
  background-color: var(--light_blue);
  padding: 1rem;
  width: 80%;
  margin: 1.5rem auto;
  border-radius: 20px;
  text-align: center;
}

/* ARROWS */
/* Scroll arrow animation */
.fp_scrollarrow {
  position: fixed;
  bottom: 7rem;
  left: 50%;
  transform: translate(-50%);
  animation: hop 1.2s infinite ease-in-out;
  opacity: 1;
  transition: opacity 1s ease-out;
  width: 12%;
}

@keyframes hop {
  0%,
  100% {
    transform: translate(-50%, -1rem);
  }
  50% {
    transform: translate(-50%, -4rem);
  }
}

.scrolled .fp_scrollarrow {
  opacity: 0;
  pointer-events: none;
}

/* CATEGORY OVERVIEW */
/* Add category */
.fp_addcategory {
  background-color: var(--btn);
  width: 13.5%;
  padding: 20px;
  border-radius: 20px;
}

/* SCROLL ANIMATION */
.fp_circle_streak.scrolled .circle_container {
  transform: scale(0.65);
  transition: transform 1s ease-in-out;
  margin-bottom: -25%;
}

.fp_circle_streak.scrolled .fp_circletxt {
  transition: transform 1s ease-in-out;
}

.fp_circle_streak.scrolled .fp_streak {
  transition: transform 1s ease-in-out;
}

.fp_circletxt {
  transition: opacity 0.8s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.8s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
}

/* Fade in everything under streak */
.fp_hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 0.8s ease-in-out;
}

.fp_hidden.scrolled {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.8s ease, visibility 0.8 ease;
}

.fp_circle_streak.scrolled .fp_circletxt {
  opacity: 0;
}

.fp_circle_streak.scrolled .fp_streak {
  opacity: 0;
}

/* --- ADD EXPENSES --- */
.ae_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ae_budget_input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.ae_main p {
  padding-bottom: 4%;
}

.ae_note {
  margin-top: 5%;
}

.ae_txt {
  padding-top: 3%;
}

.ae_category {
  width: 85%;
}

/* QUICK ADD */
.ae_quickadd {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 3% auto;
  transition: background-color 0.3s ease-in-out;
  border-radius: 20px;
  padding-bottom: 5%;
}

.ae_quickadd p {
  padding-top: 6%;
  color: var(--light);
}

/* Quickadd btn */
.ae_quickadd_btn {
  background-color: var(--light);
  border: 2px solid var(--btn);
  padding: 3vw;
  border-radius: 20px;
  color: var(--btn);
  margin: 10px;
}

/* Quickadd hidden content */
.ae_quickadd_content {
  max-height: 0; /* start collapsed */
  overflow: hidden;
  transition: max-height 0.15s ease-in-out;
}

.ae_quickadd_content.visible {
  max-height: 60%;
  transition: max-height 0.2s ease-in-out;
}

.ae_quickadd.active {
  background-color: var(--btn); /*  bg when unfolded */
}

.ae_input_group {
  width: 60%;
  margin: auto;
}

.bg_btn {
  background-color: var(--btn); /* when visible */
}

.bg_light {
  background-color: var(--light); /* default bg */
}

.ae_quickadd_btn.active {
  background-color: var(--btn);
  color: var(--light);
}

/* BUDGETNAVIGATION */
.budgetnav_main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 90%;
  margin: auto;
  padding-top: 1.5rem;
}

.budgetnav_txt {
  background-color: var(--light_blue);
  padding: 10%;
  border-radius: 20px;
  text-align: center;
}

.budgetnav_btns {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  gap: 1rem;
  transform: scale(1.2);
}

.budgetnav_btn_img {
  height: 1rem;
  padding-left: 0.6rem;
}

.budgetnav_dragon {
  width: 60%;
  margin: auto;
}
