/* -------------------- */
/* --- Componements --- */
/* -------------------- */

/* --- Animation --- */
.bg_animation {
  background-color: #e1e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150%;
  width: 100%;
  margin: -90% -5.5% 0 -5.5%;
  animation: fadeAnimation 2s forwards;
  animation-delay: 3s;
  position: absolute;
  z-index: 2;
}

/* Keyframe for the bg_animation div, der får den til at fade væk */
@keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.logo_animation {
  width: 80%;
  margin: 50% 0 12% 0;
  animation: growWidth 1s ease-in-out forwards,
    rotateImage 1s ease-in-out forwards;
  animation-delay: 0.2s;
  opacity: 0; /* Ensure it starts invisible, so the logo doesn't show until the animation starts */
  visibility: hidden; /* Ensure it starts invisible, so the logo doesn't show until the animation starts */
}

/* Makes the logo visible after the animation starts */
.logo_animation.start_visible {
  opacity: 1;
  visibility: visible;
}

/* Keyframe that makes the logo grow */
@keyframes growWidth {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 80%;
    opacity: 1;
  }
}

/* Keyframe that makes the logo spin */
@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo_rel_animation {
  position: relative;
  display: flex;
  justify-content: center;
}

.streak_animation {
  position: absolute;
  transform: rotate(140deg);
  width: 2.5rem;
  top: 55%;
  right: 5%;
  opacity: 0; /* Ensure it starts invisible */
  animation: streakTextGrow 1s ease-in-out forwards;
  animation-delay: 1.1s; /* Makes sure it first shows after the logo (dragon) has appeared */
}

.h1_animation {
  padding-left: 0;
  animation: streakTextGrow 1s ease-in-out forwards;
  animation-delay: 1.1s; /* Makes sure it first shows after the logo (dragon) has appeared */
  opacity: 0; /* Ensure it starts invisible */
}

/* Keyframe that makes the fire and app name show */
@keyframes streakTextGrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --- Barchart --- */
.placement_txt_barchart {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 5%;
  font-family: "Raleway", sans-serif;
  font-size: 0.6rem;
  color: var(--dark);
  font-weight: 100;
  background-color: #fbe9e9;
  border-radius: 30px;
}

/* ------------- */
/* --- Pages --- */
/* ------------- */

/* --- My Budget --- */
.fp_addcategory_flex {
  text-align: center;
  margin-left: -5.5%;
  margin-top: 2%;
}
